{% extends 'base.html' %}

{% block title %}

    Додати

{% endblock %}

{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/add_input_row.js"></script>

    <form action="/add" method="POST">
        <p>
            <input placeholder="N" name="identifier" required minlength="1" size="4">
            <input placeholder="Ім'я" name="first_name" required minlength="1" size="20">
            <input placeholder="Прізвище" name="second_name" required minlength="1" size="20">
            <input placeholder="Моб. номер" name="mobile_number" required minlength="10" maxlength="10" size="20">
            <input type="submit" value="Зберегти">
        </p>
        <p>
            <input type="button" value="Додати ряд" id="add_input_row">
        </p>
        <div id="dynamic_container">
            <input placeholder="Назва" name="product_name" size="20">
            <input placeholder="Кількість" name="product_amount" size="20">
        </div>
    </form>
  
{% endblock %}