{% extends 'base.html' %}

{% block title %}

    Додати

{% endblock %}

{% block body %}

    <form action="/add", method="POST">
        <p><input placeholder="Ім'я" name="name" required minlength="3" size="20"></p>
        <p><input placeholder="Прізвище" name="surname" required minlength="3" size="20"></p>
        <p><input placeholder="Моб. номер" name="mobile_number" required minlength="10" maxlength="10" size="20"></p>
        <p><input type="submit" value="Зберегти"></p>
    </form>
        
{% endblock %}