{% extends 'base.html' %}

{% block title %}

    Перегляд

{% endblock %}

{% block body %}


<table style="width:100%">
    <tr>
        <th width="5%">N</th>
        <th width="28%">Ім'я</th>
        <th width="28%">Прізвище</th>
        <th width="28%">Моб. номер</th>
        <th width="11%">Замовлення</th>
    </tr>

    {% for client in data[0][::-1] %}

        <tr>
            <td>{{ client[0] }}</td>
            <td>{{ client[1] }}</td>
            <td>{{ client[2] }}</td>
            <td>{{ client[3] }}</td>
            <td><a href="{{ url_for('show_products', order_id=client[0]) }}">Переглянути</a></td>
        </tr>

    {% endfor %}

</table> 
        
{% endblock %}