{% extends 'base.html' %}

{% block title %}

    Перегляд

{% endblock %}

{% block body %}

    <table style="width:100%">
        <tr>
            <th width="5%"><a href="/view/id">N</a></th>
            <th width="25%"><a href="/view/first_name">Ім'я</a></th>
            <th width="25%"><a href="/view/second_name">Прізвище</a></th>
            <th width="25%"><a href="/view/mobile_number">Моб. номер</a></th>
            <th width="10%"><a href="/view/sum">Сума</a></th>
            <th width="10%">Замовлення</th>
        </tr>

        {% for client in data[0] %}

            <tr>
                <td>{{ client[0] }}</td>
                <td>{{ client[1] }}</td>
                <td>{{ client[2] }}</td>
                <td>{{ client[3] }}</td>
                <td></td>
                <td><a href="{{ url_for('view_order', order_id=client[0]) }}"><b>Переглянути</b></a></td>
            </tr>

        {% endfor %}

    </table> 
        
{% endblock %}