{% extends 'base.html' %}

{% block title %}

    Перегляд

{% endblock %}

{% block body %}

    <table style="width:100%">
        <tr>
            <th width="5%">N</th>
            <th width="25%">Ім'я</th>
            <th width="25%">Прізвище</th>
            <th width="25%">Моб. номер</th>
            <th width="10%">Сума</th>
            <th width="11%"><a href="/view/id">Повернутись</a></th>
        </tr>
        <tr>
            <td>{{ data[0][0] }}</td>
            <td>{{ data[0][1] }}</td>
            <td>{{ data[0][2] }}</td>
            <td>{{ data[0][3] }}</td>
            <td></td>
        </tr>
    </table>

    <br><br>

    <table style="width:100%">
        <tr>
            <th width="50%">Назва</th>
            <th width="50%">Кількість</th>
        </tr>

        {% for item in data[1] %}

            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
            </tr>

        {% endfor %}

    </table> 
        
{% endblock %}