table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

a:link, a:visited, a:active {
    color: rgb(66, 67, 139);
}

a:hover {
    color: rgb(150, 150, 250);
}
